# Merge Request Guide

## Checklist

Please check the following:

- [ ] You have read the [contributing guidelines](https://gitlab.com/{{ repository_namespace }}/{{ repository_name }}/-/blob/main/CONTRIBUTING.md).
- [ ] Tests for bug fixes or new features have been added.
- [ ] Docs have been added or updated.

## Type

What kind of change does this Merge Request introduce?

- [ ] feat: New feature implementation.
- [ ] fix: Bug fix.
- [ ] docs: Documentation changes.
- [ ] style: Code style or format changes.
- [ ] refactor: Changes that are not features or bug fixes.
- [ ] tests: Test additions or corrections.
- [ ] chore: Maintenance code changes.
- [ ] other

## Current behaviour

Describe the current behaviour or link a related issue.

## What is the new behaviour?

Describe the new behaviour.

## Does this Merge Request introduce a breaking change?

- [ ] Yes
- [ ] No

## Other information

Provide any other information.
