{%- set minor_versions = [] -%}
{%- for version in python_versions.rsplit(',') -%}
{%- set offset = (-1 if loop.index == 1 else 1) if '=' in version else 0 -%}
{%- set version = version|replace('>', '')|replace('<', '')|replace('=', '') -%}
{{- minor_versions.append(version.rsplit('.')[1]|int + offset) or '' -}}
{%- endfor -%}
{%- set versions = [] -%}
{%- for minor_version in range(minor_versions[0] + 1, minor_versions[1]) -%}
{{- versions.append('3.' + minor_version|string) or '' -}}
{%- endfor -%}
name: CI

on:
  push:
  workflow_dispatch:

jobs:

  checks:

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest

    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Python versions
      uses: actions/setup-python@v5
      with:
        python-version: |
            {%- for version in versions %}
            {{ version }}
            {%- endfor %}

    {% if package_manager == "PDM" -%}
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        cache: true
        cache-dependency-path: pyproject.toml

    - name: Install dependencies
      run: pdm install --no-default -dG maintenance -dG checks

    - name: Check code quality
      run: pdm checks quality

    - name: Check type annotations
      run: pdm checks types

    - name: Check vulnerabilities in dependencies
      run: pdm checks dependencies

    - name: Check security issues
      run: pdm checks security

    - name: Check docstring coverage
      run: pdm checks docs
    {%- else -%}
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml

    - name: Install dependencies
      run: uv sync --only-dev

    - name: Check code quality
      run: uv run nox -s checks -- quality

    - name: Check type annotations
      run: uv run nox -s checks -- types

    - name: Check vulnerabilities in dependencies
      run: uv run nox -s checks -- dependencies

    - name: Check security issues
      run: uv run nox -s checks -- security

    - name: Check docstring coverage
      run: uv run nox -s checks -- docs
    {%- endif %}

  tests:

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest

    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Python versions
      uses: actions/setup-python@v5
      with:
        python-version: |
            {%- for version in versions %}
            {{ version }}
            {%- endfor %}

    {% if package_manager == "PDM" -%}
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        cache: true
        cache-dependency-path: pyproject.toml

    - name: Install dependencies
      run: pdm install -dG maintenance -dG tests

    - name: Run the test suite
      run: pdm tests
    {%- else -%}
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml

    - name: Install dependencies
      run: uv sync

    - name: Run the test suite
      run: uv run nox -s tests
    {%- endif %}

  doc:

    if: {% raw %}${{ github.ref != 'refs/heads/main' }}{% endraw %}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: {{ versions }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    {% if package_manager == "PDM" -%}
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        cache: true
        cache-dependency-path: pyproject.toml

    - name: Install dependencies
      run: pdm install -dG maintenance -dG docs

    - name: Build documentation with Python {% raw %}${{ matrix.python-version }}{% endraw %}
      run: pdm docs build
    {%- else -%}
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}

    - name: Install dependencies
      run: uv sync

    - name: Build documentation with Python {% raw %}${{ matrix.python-version }}{% endraw %}
      run: uv run nox -s docs -- build
    {%- endif %}
