{%- set namespace_path = repository_namespace | urlencode if repository_namespace is defined else "" -%}
{%- set repo_path = repository_name | urlencode -%}
{%- set username_path = author_username | urlencode if author_username is defined else "" -%}
{%- if git_provider == "GitHub" -%}
{%- set docs_url = "https://" ~ namespace_path ~ ".github.io/" ~ repo_path -%}
{%- set repo_url = "https://github.com/" ~ namespace_path ~ "/" ~ repo_path -%}
{%- set author_url = "https://github.com/" ~ username_path -%}
{%- elif git_provider == "GitLab" -%}
{%- set docs_url = "https://" ~ namespace_path ~ ".gitlab.io/" ~ repo_path -%}
{%- set repo_url = "https://gitlab.com/" ~ namespace_path ~ "/" ~ repo_path -%}
{%- set author_url = "https://gitlab.com/" ~ username_path -%}
{%- elif git_provider == "Azure DevOps" -%}
{%- set repo_url = "https://dev.azure.com/" ~ namespace_path ~ "/_git/" ~ repo_path -%}
{%- set author_url = "https://dev.azure.com/" ~ username_path -%}
{%- elif git_provider == "Bitbucket" -%}
{%- set repo_url = "https://bitbucket.org/" ~ namespace_path ~ "/" ~ repo_path -%}
{%- set author_url = "https://bitbucket.org/" ~ username_path -%}
{%- endif -%}
site_name: "{{ repository_name }}"
site_description: "{{ project_description }}"
{% if docs_url %}site_url: "{{ docs_url }}"
{% endif -%}
{% if repo_url %}repo_url: "{{ repo_url }}"
repo_name: "{{ repository_namespace }}/{{ repository_name }}"
{% endif -%}
site_dir: "site"
watch: [README.md, CONTRIBUTING.md, CHANGELOG.md, src/{{ python_package_import_name }}]

theme:
  name: material
  features:
  - content.code.annotate
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  palette:
    primary: blue

nav:
  - Overview:
    - index.md
    - User guide: overview/user_guide.md
    - Changelog: overview/changelog.md
    {%- if copyright_license != "None" %}
    - License: overview/license.md
    {%- endif %}
  - API: api/
  - Examples: generated/gallery
  - Development:
    - development/index.md
    - Contributing: development/contributing.md
    - Code of Conduct: development/code_of_conduct.md

extra_css:
  - css/style.css
  - css/material.css
  - css/mkdocstrings.css

markdown_extensions:
  - admonition
  - callouts
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.magiclink
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist

plugins:
  - search
  - autorefs
  - gallery:
      examples_dirs:
        - docs/examples
      gallery_dirs:
        - docs/generated/gallery
  - markdown-exec
  - gen-files:
      scripts:
      - docs/generate_api.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: yes
            merge_init_into_class: yes
            show_submodules: no
{%- if author_url %}

extra:
  social:
  - icon: fontawesome/brands/{{ git_provider|lower|replace(' ', '-') }}
    link: {{ author_url }}
{%- endif %}
