[black badge]: <https://img.shields.io/badge/%20style-black-000000.svg>
[black]: <https://github.com/psf/black>
[docformatter badge]: <https://img.shields.io/badge/%20formatter-docformatter-fedcba.svg>
[docformatter]: <https://github.com/PyCQA/docformatter>
[ruff badge]: <https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/charliermarsh/ruff/main/assets/badge/v1.json>
[ruff]: <https://github.com/charliermarsh/ruff>
[mypy badge]: <http://www.mypy-lang.org/static/mypy_badge.svg>
[mypy]: <http://mypy-lang.org>
[mkdocs badge]: <https://img.shields.io/badge/docs-mkdocs%20material-blue.svg?style=flat>
[mkdocs]: <https://squidfunk.github.io/mkdocs-material>
[version badge]: <https://img.shields.io/pypi/v/{{ repository_name }}.svg>
[pythonversion badge]: <https://img.shields.io/pypi/pyversions/{{ repository_name }}.svg>
[downloads badge]: <https://img.shields.io/pypi/dd/{{ repository_name }}>
[gitter]: <https://gitter.im/{{ repository_name }}/community>
[gitter badge]: <https://badges.gitter.im/join%20chat.svg>
[discussions]: <https://github.com/georgedouzas/{{ repository_name }}/discussions>
[discussions badge]: <https://img.shields.io/github/discussions/georgedouzas/{{ repository_name }}>
[ci]: <https://github.com/georgedouzas/{{ repository_name }}/actions?query=workflow>
[ci badge]: <https://github.com/georgedouzas/{{ repository_name }}/actions/workflows/ci.yml/badge.svg>
[doc]: <https://github.com/georgedouzas/{{ repository_name }}/actions?query=workflow>
[doc badge]: <https://github.com/georgedouzas/{{ repository_name }}/actions/workflows/doc.yml/badge.svg?branch=master>

# {{ repository_name }}

[![ci][ci badge]][ci] [![doc][doc badge]][doc]

| Category          | Tools    |
| ------------------| -------- |
| **Development**   | [![black][black badge]][black] [![ruff][ruff badge]][ruff] [![mypy][mypy badge]][mypy] [![docformatter][docformatter badge]][docformatter] |
| **Package**       | ![version][version badge] ![pythonversion][pythonversion badge] ![downloads][downloads badge] |
| **Documentation** | [![mkdocs][mkdocs badge]][mkdocs]|
| **Communication** | [![gitter][gitter badge]][gitter] [![discussions][discussions badge]][discussions] |

## Introduction

{{ project_description }}

## Installation

For user installation, `{{ python_package_distribution_name }}` is currently available on the PyPi's repository, and you can
install it via `pip`:

```bash
pip install {{ python_package_distribution_name }}
```

Development installation requires to clone the repository and then use [PDM](https://github.com/pdm-project/pdm) to install the
project as well as the main and development dependencies:

```bash
git clone https://github.com/{{ repository_namespace }}/{{ repository_name }}.git
cd {{ python_package_distribution_name }}
pdm install
```
