name: CI

on:
  push:
    branches:
      - master
      - development

jobs:

  checks:

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest

    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        cache: true
        cache-dependency-path: pyproject.toml

    - name: Install dependencies
      run: pdm install --no-editable -G maintenance -G checks

    - name: Check the code quality, type annotations and vulnerabilities in dependencies
      run: pdm checks

  tests:

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest

    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Python versions
      uses: actions/setup-python@v4
      with:
        python-version: |
            {% set minor_versions = [] -%}
            {% for version in python_versions.rsplit(',') -%}
            {% set offset = (-1 if loop.index == 1 else 1) if '=' in version else 0 -%}
            {% set version = version|replace('>', '')|replace('<', '')|replace('=', '') -%}
            {{ minor_versions.append(version.rsplit('.')[1]|int + offset) or '' -}}
            {% endfor -%}
            {% set versions = [] -%}
            {% for minor_version in range(minor_versions[0] + 1, minor_versions[1]) -%}
            {{ versions.append('3.' + minor_version|string) or '' -}}
            {% endfor -%}
            {% for version in versions -%}
            {{ version }}
            {% endfor %}
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        cache: true
        cache-dependency-path: pyproject.toml

    - name: Install dependencies
      run: pdm install --no-editable -dG maintenance -dG tests

    - name: Run the test suite
      run: pdm tests
